.example-spacer {
    flex: 1 1 auto;
}
img{
    width: 60px;
}
/* Declaramos con palabra reservada MEDIA -> DISPOSITIVOS PEQUEÑOS (ej.: celular) */
@media (min-width: 300px) and (max-width: 700px) {
    mat-toolbar{
        background-color: black;
        color: white;
    }

    #menuInicio{
        display: none;
    }

    #menuProducto{
        display: none;
    }
}

/* DISPOSITIVOS MÁS GRANDES (ej.: computadora) */
@media (min-width: 700px) {
    mat-toolbar{
        background-color: black;
        color:gold
    }

    #menuSecciones{
        display: none;
    }
}