<div class="container text-center">
    <div class="row">
        <div class="spacer"></div>
      <div class="col">
        <div class="card ">
            <img src="../../../../../assets/9ad0379f2c54a72018b45306e266ecff.jpg" class="card-img" alt="..." align="center">
            <div class="card-img-overlay text-bottom">
              <h1 class="card-title">Pase libre</h1>
              <p class="card-text">Podras asistir los dias que quieras durante 1 hora</p>
              <h3 class="card-price">Precio: 23.000$ al mes</h3>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card ">
            <img src="../../../../../assets/9ad0379f2c54a72018b45306e266ecff.jpg" class="card-img" alt="..." align="center">
            <div class="card-img-overlay text-bottom">
              <h1 class="card-title">Pase 3 dias</h1>
              <p class="card-text">Podras asistir 3 veces a la semana durante una hora</p>
              <h3 class="card-price">Precio: 15.000$ al mes</h3>
            </div>
          </div>
      </div>
      <div class="spacer"></div>
    </div>
</div>