.container{
    padding-top: 10px;
}

.col{
    justify-content: center;
    display: flex;
    padding: 30px;
}

.card-title,
.card-text,
.card-price {
    color: white;
}


.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 100%;
    padding: 20px; 
}

.text-bottom {
    text-align: left;
}

.spacer{
padding: 0%;
width: 270px;
}


button{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    margin: 10px;
    background-color: #D4AC0D;
    color: black;
    font-size: x-large;
    font-weight: 400;
    margin-top: 25px;
}
