<body>
    <form action="https://formsubmit.co/genaro45ezequielparra@gmail.com" method="POST" >
        <H2>Contacto</H2>

        <div class="input-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">

            <label for="Telefono">Telefono</label>
            <input type="tel" name="Telefono" id="telefono" placeholder="Telefono">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">

            <label for="mensaje">Mensaje</label>
            <Textarea name="mensaje" id="mensaje" cols="30" rows="5" placeholder="Mensaje"></Textarea>

            <div class="form-text">
                <a href="#">Politica de privacidad</a>
                <a href="#">Terminos y condiciones</a>
            </div>
            <input class="btn" type="submit" value="Enviar">

        </div>
    </form>
</body>