<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/biceps.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Maquina de biceps</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/bicicleta.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Bicicleta electrica</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/caimandoras.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Caminadoras</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/camilla de femorales.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Camilla de femorales</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/elevacion de piernas.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Elevación de piernas</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/extension de cuadriceps.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Extensión de cuadriceps</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>  
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/hack vertical.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Hack vertical</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/hip thrust.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Hip thrust</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/maquina de pectoral.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Maquina de pectoral</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Multipower.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Multipower</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/patada de gluteo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Patada de gluteo</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/prensa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Prensa</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/press inclinado.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Press inclinado</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/press plano.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Press plano</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/pulldown.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Pulldown</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/rack de sentadilla libre.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Rack de sentadilla</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/remo en t.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Remo en T</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/remo.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Remo</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
</div>