<!--alert-->
<div class="alert alert-info" role="alert">
    ¿Te interesa tener una rutina personalizada?
<button type="button" class="btn btn-outline-primary" id="btnForm">Probar</button>
<br><br>
<!--Formularios-->
<div class="modal ">
    <label for=""></label>
    <input type="text" name="" id="" placeholder="Ingrese la cantidad de dias que entrena">
    <br><br>
    <label for=""></label>
    <input type="text" name="" id="" placeholder="Esta realizando una dieta (explicación)">
    <br><br>
    <label for=""></label>
    <input type="text" name="" id="" placeholder="Describa cual seria su objetivo">
    <br><br>
    <label for=""></label>
    <input type="text" placeholder="Utiliza suplementos?">
</div>
<!--Cards-->
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/biceps.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Maquina de biceps</h2>
              <p class="card-text">Maquina para ejercitar aisladamente los biceps</p>
              <a href="https://youtu.be/lbbDV2_Ho8E?si=yIa5kBBwraqv-Pqn" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/bicicleta.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Bicicleta electrica</h2>
              <p class="card-text">Una de las mejores opciones para cardio </p>
              <a href="#" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/caimandoras.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Caminadoras</h2>
              <p class="card-text">Maquina para realizar cardio</p>
              <a href="#" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/camilla de femorales.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Camilla de femorales</h2>
              <p class="card-text">Maquina para ejercitar especificamente los femorales</p>
              <a href="https://youtu.be/6tKO6fOb_AM?si=7RmqfAAs6A9FfBRY " class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/elevacion de piernas.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Elevación de piernas</h2>
              <p class="card-text">Maquina para entrenar el abdomen bajo</p>
              <a href="https://youtu.be/V9_gwMuAFQo?si=6h-GJxCiP7XDu36c" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/extension de cuadriceps.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Extensión de cuadriceps</h2>
              <p class="card-text">Con esta máquina se ejercita los cuadriceps mayores y menores</p>
              <a href="https://youtu.be/D8CL7VuvvTg?si=iOCoy94s33iAjY0k" class="btn2">Ver más!</a>
            </div>
        </div>  
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/hack vertical.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Hack vertical</h2>
              <p class="card-text">Con esta máquina se pueden realizar sentadilla verticales lo que hace que ganen mas fuerza los cuadriceps</p>
              <a href="https://youtu.be/R8ZyWx1EgoY?si=_PCiFeFnygdsuuaz" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/hip thrust.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Hip thrust</h2>
              <p class="card-text">Con esta máquina logramos ejercitar los gluteos y femorales, al tener una mejor estabilidad es una de las mejores opciones</p>
              <a href="https://youtu.be/gdUC0EFGWfQ?si=MJGa486JyJLMrV61" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/maquina de pectoral.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Maquina de pectoral</h2>
              <p class="card-text">Máquina para ejercitar especificamente los pectorales</p>
              <a href="https://youtu.be/ADqg_IoKhME?si=H86HykxwHBA6ewpD" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Multipower.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Multipower</h2>
              <p class="card-text">Con esta máquina logramos hacer diferentes ejercicios como sentadillas, gemelos, etc</p>
              <a href="https://youtu.be/4NNuDbXSTGA?si=DljAhIGR_QjTP-5r" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/patada de gluteo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Patada de gluteo</h2>
              <p class="card-text">Con esta máquina nos concentramos en la parte superior del gluteo dando una buena tensión</p>
              <a href="https://youtu.be/6Q-kFlYeK_0?si=XK-Wv2-XGcnel_6R" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/prensa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Prensa</h2>
              <p class="card-text">Con la prensa logramos trabajar la mayoria de los musculos de las piernas, dependiendo de la posición de los pies</p>
              <a href="https://youtu.be/xvCynwyNoP4?si=1y_odmOU2suA2SjB" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/press inclinado.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Press inclinado</h2>
              <p class="card-text">Con esta máquina trabajamos tanto hombros como pecho, es una excelente opción para incluir</p>
              <a href="https://youtu.be/vUMtItXfO8Y?si=3FX7cuhHCsitii5W" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/press plano.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Press plano</h2>
              <p class="card-text">Es muy similar al press inclinado, la diferencia es la posición del banco</p>
              <a href="https://youtu.be/jlFl7WJ1TzI?si=buWM7e8BoFWvmFPn" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/pulldown.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Pulldown</h2>
              <p class="card-text">Con esta máquina se traba toda la espalda alta y tiene diferentes variantes</p>
              <a href="https://youtu.be/72q0tKij5uU?si=ru6y4WE-lzYLrHI9" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/rack de sentadilla libre.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Rack de sentadilla</h2>
              <p class="card-text">Uno de las mejores opciones para ganar fuerza muscular y estabilidad</p>
              <a href="https://youtu.be/6by0yrM7qwo?si=0Hl62GftDxWgrKmz" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/remo en t.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Remo en T</h2>
              <p class="card-text">Gran incorporación, ya que incorpora musculos secundarios de la espalda</p>
              <a href="https://youtu.be/KgEZTNLBMMQ?si=Y-0mSB_SUrY6Dmji" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/remo.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Remo</h2>
              <p class="card-text">Es otra variante del remo en T y es muy importante para ganar fuerza muscular</p>
              <a href="https://youtu.be/dfstLjtyG1Q?si=Qs3HtITK0iU2zRuL" class="btn2">Ver más!</a>
            </div>
        </div>
      </div>
    </div>
</div>