<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let pro of productosFiltrados">
            <div class="card" style="width: 18rem;">
                <img src="{{pro.imagen}}" class="card-img-top" alt="{{pro.alt}}">
                <div class="card-body">
                  <h2 class="card-title">Producto: {{pro.nombre}}</h2>
                  <p class="card-text">Precio: {{pro.precio}}$</p>
                  <a class="btn">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>